.tasks {
    &__title {
        display: flex;
        border-bottom: 1.5px solid #64126b;
        margin-right: 30px;
        img {
            width: 18px;
            margin-left: 14px;
            margin-bottom: 8px;
            cursor: pointer;
            opacity: 0;
        }

        .title {
            font-weight: 700;
            font-size: 28px;
            color: #2f2f2f;
            padding-bottom: 13px;
        }
    }

    &__title:hover {
        img {
            opacity: 0.6;
        }
        
        img:hover {
            opacity: 0.9;
        }
    }

    &__items {
        &_item {
        display: flex;
        align-items: center;
        margin-top: 20px;
        }

        p {
            font-weight: 630;
            font-size: 16px;
            color: #3d3d3d;
            margin-left: 9px;
            border: none;
            width: 100%;
        }
    }

    .checkbox {
        margin-top: 4.3px;
        input {
            display: none;
        }
        .done-label {
            border: 2px solid #6839a7;
            width: 16px;
            height: 16px;
            border-radius: 30px;
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
        }

        input:checked + label {
            img{
                opacity: 1;
            }
        }

        img {
            width: 20px;
            opacity: 0;
        }
    }

    .task {
        display: flex;
        width: 100%;
        align-items: center;

    &__icons {
        display: flex;
    }

    &__deadline {
        font-size: 13px;
        width: auto;
        align-self: center;
        white-space: nowrap;
        opacity: 0.95;
    }

    img, .important-img {
            width: 18px;
            margin-left: 8px;
            opacity: 0;
            cursor: pointer;
    }

    &:hover {
        img, .important-img {
            opacity: 0.6;
        }
    }

    .important-img {
        mask-image: url("../../assets/star.svg");
    }

    .more-img {
        width: 14px;
        margin: 2px 0px 0px 1px;
    }
    
    .task-img:hover {
        opacity: 1;
    }
    .task-img1 {
        width: 16px;
        margin-left: 6px;
    }
    .task-img {
        margin-left: 6px;
    }
}
}